ProcesosLotes/BatchLecturaArchivos/Connected Services/ValidacionMail/ServiciosValidacionEmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiciosValidacionEmail" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServiciosValidacionEmail_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pruebas.saludsasale.com/serviciosWebSOA/WebServiceVerificacionEmail/ServiciosValidacionEmail.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pruebas.saludsasale.com/serviciosWebSOA/WebServiceVerificacionEmail/ServiciosValidacionEmail.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pruebas.saludsasale.com/serviciosWebSOA/WebServiceVerificacionEmail/ServiciosValidacionEmail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosCliente.Logica.Email" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiciosValidacionEmail_ValidarEmailChecker_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarEmailChecker" />
  </wsdl:message>
  <wsdl:message name="IServiciosValidacionEmail_ValidarEmailChecker_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarEmailCheckerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosValidacionEmail_ValidarEmailVerifier_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarEmailVerifier" />
  </wsdl:message>
  <wsdl:message name="IServiciosValidacionEmail_ValidarEmailVerifier_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarEmailVerifierResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiciosValidacionEmail">
    <wsdl:operation name="ValidarEmailChecker">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosValidacionEmail/ValidarEmailChecker" message="tns:IServiciosValidacionEmail_ValidarEmailChecker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosValidacionEmail/ValidarEmailCheckerResponse" message="tns:IServiciosValidacionEmail_ValidarEmailChecker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarEmailVerifier">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosValidacionEmail/ValidarEmailVerifier" message="tns:IServiciosValidacionEmail_ValidarEmailVerifier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosValidacionEmail/ValidarEmailVerifierResponse" message="tns:IServiciosValidacionEmail_ValidarEmailVerifier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiciosValidacionEmail" type="tns:IServiciosValidacionEmail">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarEmailChecker">
      <soap:operation soapAction="http://tempuri.org/IServiciosValidacionEmail/ValidarEmailChecker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarEmailVerifier">
      <soap:operation soapAction="http://tempuri.org/IServiciosValidacionEmail/ValidarEmailVerifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServiciosValidacionEmail" type="tns:IServiciosValidacionEmail">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServiciosValidacionEmail_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarEmailChecker">
      <soap:operation soapAction="http://tempuri.org/IServiciosValidacionEmail/ValidarEmailChecker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarEmailVerifier">
      <soap:operation soapAction="http://tempuri.org/IServiciosValidacionEmail/ValidarEmailVerifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosValidacionEmail">
    <wsdl:port name="BasicHttpBinding_IServiciosValidacionEmail" binding="tns:BasicHttpBinding_IServiciosValidacionEmail">
      <soap:address location="http://pruebas.saludsasale.com/serviciosWebSOA/WebServiceVerificacionEmail/ServiciosValidacionEmail.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServiciosValidacionEmail" binding="tns:BasicHttpsBinding_IServiciosValidacionEmail">
      <soap:address location="https://pruebas.saludsasale.com/serviciosWebSOA/WebServiceVerificacionEmail/ServiciosValidacionEmail.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>