ProcesosLotes/BatchLecturaArchivos/Connected Services/ValidacionMail/ServiciosValidacionEmail1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pruebas.saludsasale.com/serviciosWebSOA/WebServiceVerificacionEmail/ServiciosValidacionEmail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosCliente.Logica.Email" />
  <xs:element name="ValidarEmailChecker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEmailCheckerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosCliente.Logica.Email" minOccurs="0" name="ValidarEmailCheckerResult" nillable="true" type="q1:VerificacionEmailChecker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEmailVerifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEmailVerifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosCliente.Logica.Email" minOccurs="0" name="ValidarEmailVerifierResult" nillable="true" type="q2:VerificacionEmailVerifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>