ProcesosLotes/BatchLecturaArchivos/Connected Services/RegistroCivil/ServiciosCliente43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pruebas.saludsasale.com/serviciosWebSOA/WebServiceCliente/ServiciosCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosCliente.Entidades" />
  <xs:import schemaLocation="http://pruebas.saludsasale.com/serviciosWebSOA/WebServiceCliente/ServiciosCliente.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiciosCliente.Servicios" />
  <xs:element name="ObtenerPersonaPorNumeroIdentificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoIdentificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroIdentificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPersonaPorNumeroIdentificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosCliente.Entidades" minOccurs="0" name="ObtenerPersonaPorNumeroIdentificacionResult" nillable="true" type="q1:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientePorIdCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientePorIdClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosCliente.Entidades" minOccurs="0" name="ObtenerClientePorIdClienteResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientePorNumeroIdentificacion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoIdentificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroIdentificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientePorNumeroIdentificacion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosCliente.Servicios" minOccurs="0" name="ObtenerClientePorNumeroIdentificacion_RestResult" nillable="true" type="q3:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientePorNumeroIdentificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoIdentificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroIdentificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientePorNumeroIdentificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosCliente.Entidades" minOccurs="0" name="ObtenerClientePorNumeroIdentificacionResult" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContactabilidadPorIdCliente_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContactabilidadPorIdCliente_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosCliente.Servicios" minOccurs="0" name="ObtenerContactabilidadPorIdCliente_RestResult" nillable="true" type="q5:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContactabilidadPorIdCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContactabilidadPorIdClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiciosCliente.Entidades" minOccurs="0" name="ObtenerContactabilidadPorIdClienteResult" nillable="true" type="q6:MediosContacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiciosCliente.Entidades" minOccurs="0" name="clienteNuevo" nillable="true" type="q7:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiciosCliente.Servicios" minOccurs="0" name="CrearClienteResult" nillable="true" type="q8:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiciosCliente.Entidades" minOccurs="0" name="clienteActualizado" nillable="true" type="q9:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiciosCliente.Servicios" minOccurs="0" name="ActualizarClienteResult" nillable="true" type="q10:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMediosContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiciosCliente.Entidades" minOccurs="0" name="mediosContactoNuevo" nillable="true" type="q11:MediosContacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMediosContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiciosCliente.Servicios" minOccurs="0" name="CrearMediosContactoResult" nillable="true" type="q12:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMediosContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiciosCliente.Entidades" minOccurs="0" name="mediosContactoActualizado" nillable="true" type="q13:MediosContacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMediosContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiciosCliente.Servicios" minOccurs="0" name="ActualizarMediosContactoResult" nillable="true" type="q14:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>